@font-face {
  font-family: $robolight;
  src: url('../fonts/roboto.light.ttf');
}
@font-face {
  font-family: $roboreg;
  src: url('../fonts/roboto.regular.ttf');
}
@font-face {
  font-family: $robothin;
  src: url('../fonts/roboto.thin.ttf');
}