//main section styles

.main-section {
  position: relative;
  top: -800px;
  width: 100%;
  padding: 0 2%;
  padding-bottom: 199px;
  @include media-breakpoint-up(sm) {
    padding: 0;
    padding-bottom: 42px;
    top: -211px;
  }
  .content-box {
    @include media-breakpoint-up(lg) {
      width: 1007px/1920px*100%;
    }
    @import "mediaobject";
    @import "card";
    @import "owlcarousel";
  }
}