//media object styles

.media {
  padding-top: 70px;
  padding-right: 44px/753px*100%;
  padding-left: 53px;
  padding-bottom: 94px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #a3a3a3;
  margin-right: 1rem;
  .edu-icon {
    @include sprite($edu);
    margin-right: 23px/753px*100%;
    width: 40px;
    position: relative;
    top: 7px;
  }
  .leaf-icon {
    position: relative;
    top: 15px;
    @include sprite($leaf);
    margin-right: 23px/753px*100%;
    width: 31px;
  }
  .media-body{
    font-family: $roboreg;
    font-size: 14px;
    p{
      margin-bottom: 40px;
      font-size: 24px;
      font-family: $robolight;
    }
  }
  .arrow-up{
    position: relative;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #2e2e2e transparent;
    &:after{
      position: absolute;
      top: 4px;
      left: -5px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #ffffff transparent;
    }
  }
  .arrow-down{
    position: relative;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #2e2e2e transparent transparent transparent;
    &:after{
      position: absolute;
      top: -9px;
      left: -5px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
}
.media-first {
  color: white;
  background: transparent;
  padding-top: 0;
  padding-bottom: 50px;
  box-shadow: none;
  &:nth-child(2){
    padding-left: 0;
  }
  .media-body {
    p {
      font-size: 24px;
      margin-bottom: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }
}
.second-row{
  .media{
    margin-bottom: 20px;
    &:nth-child(2){
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}