// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$avatar-name: 'avatar';
$avatar-x: 0px;
$avatar-y: 0px;
$avatar-offset-x: 0px;
$avatar-offset-y: 0px;
$avatar-width: 40px;
$avatar-height: 40px;
$avatar-total-width: 134px;
$avatar-total-height: 99px;
$avatar-image: '../images/sprite.png';
$avatar: (0px, 0px, 0px, 0px, 40px, 40px, 134px, 99px, '../images/sprite.png', 'avatar', );
$bell-name: 'bell';
$bell-x: 91px;
$bell-y: 27px;
$bell-offset-x: -91px;
$bell-offset-y: -27px;
$bell-width: 20px;
$bell-height: 22px;
$bell-total-width: 134px;
$bell-total-height: 99px;
$bell-image: '../images/sprite.png';
$bell: (91px, 27px, -91px, -27px, 20px, 22px, 134px, 99px, '../images/sprite.png', 'bell', );
$bellwhite-name: 'bellwhite';
$bellwhite-x: 91px;
$bellwhite-y: 54px;
$bellwhite-offset-x: -91px;
$bellwhite-offset-y: -54px;
$bellwhite-width: 18px;
$bellwhite-height: 18px;
$bellwhite-total-width: 134px;
$bellwhite-total-height: 99px;
$bellwhite-image: '../images/sprite.png';
$bellwhite: (91px, 54px, -91px, -54px, 18px, 18px, 134px, 99px, '../images/sprite.png', 'bellwhite', );
$checked-name: 'checked';
$checked-x: 37px;
$checked-y: 45px;
$checked-offset-x: -37px;
$checked-offset-y: -45px;
$checked-width: 23px;
$checked-height: 23px;
$checked-total-width: 134px;
$checked-total-height: 99px;
$checked-image: '../images/sprite.png';
$checked: (37px, 45px, -37px, -45px, 23px, 23px, 134px, 99px, '../images/sprite.png', 'checked', );
$edu-name: 'edu';
$edu-x: 45px;
$edu-y: 0px;
$edu-offset-x: -45px;
$edu-offset-y: 0px;
$edu-width: 41px;
$edu-height: 28px;
$edu-total-width: 134px;
$edu-total-height: 99px;
$edu-image: '../images/sprite.png';
$edu: (45px, 0px, -45px, 0px, 41px, 28px, 134px, 99px, '../images/sprite.png', 'edu', );
$graymark-name: 'graymark';
$graymark-x: 65px;
$graymark-y: 45px;
$graymark-offset-x: -65px;
$graymark-offset-y: -45px;
$graymark-width: 14px;
$graymark-height: 21px;
$graymark-total-width: 134px;
$graymark-total-height: 99px;
$graymark-image: '../images/sprite.png';
$graymark: (65px, 45px, -65px, -45px, 14px, 21px, 134px, 99px, '../images/sprite.png', 'graymark', );
$leaf-name: 'leaf';
$leaf-x: 0px;
$leaf-y: 45px;
$leaf-offset-x: 0px;
$leaf-offset-y: -45px;
$leaf-width: 32px;
$leaf-height: 32px;
$leaf-total-width: 134px;
$leaf-total-height: 99px;
$leaf-image: '../images/sprite.png';
$leaf: (0px, 45px, 0px, -45px, 32px, 32px, 134px, 99px, '../images/sprite.png', 'leaf', );
$markmap-name: 'markmap';
$markmap-x: 120px;
$markmap-y: 0px;
$markmap-offset-x: -120px;
$markmap-offset-y: 0px;
$markmap-width: 14px;
$markmap-height: 20px;
$markmap-total-width: 134px;
$markmap-total-height: 99px;
$markmap-image: '../images/sprite.png';
$markmap: (120px, 0px, -120px, 0px, 14px, 20px, 134px, 99px, '../images/sprite.png', 'markmap', );
$search-name: 'search';
$search-x: 0px;
$search-y: 82px;
$search-offset-x: 0px;
$search-offset-y: -82px;
$search-width: 17px;
$search-height: 17px;
$search-total-width: 134px;
$search-total-height: 99px;
$search-image: '../images/sprite.png';
$search: (0px, 82px, 0px, -82px, 17px, 17px, 134px, 99px, '../images/sprite.png', 'search', );
$searchblue-name: 'searchblue';
$searchblue-x: 120px;
$searchblue-y: 25px;
$searchblue-offset-x: -120px;
$searchblue-offset-y: -25px;
$searchblue-width: 14px;
$searchblue-height: 13px;
$searchblue-total-width: 134px;
$searchblue-total-height: 99px;
$searchblue-image: '../images/sprite.png';
$searchblue: (120px, 25px, -120px, -25px, 14px, 13px, 134px, 99px, '../images/sprite.png', 'searchblue', );
$star-name: 'star';
$star-x: 91px;
$star-y: 0px;
$star-offset-x: -91px;
$star-offset-y: 0px;
$star-width: 24px;
$star-height: 22px;
$star-total-width: 134px;
$star-total-height: 99px;
$star-image: '../images/sprite.png';
$star: (91px, 0px, -91px, 0px, 24px, 22px, 134px, 99px, '../images/sprite.png', 'star', );
$spritesheet-width: 134px;
$spritesheet-height: 99px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($avatar, $bell, $bellwhite, $checked, $edu, $graymark, $leaf, $markmap, $search, $searchblue, $star, );
$spritesheet: (134px, 99px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
