@import 'sprite';
@import 'settings';
@import 'fonts';
//@import 'owlcarousel';
// Требуемое
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// Опциональное
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";

@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';

body{
  font-family: $font-family-main;
  background-color: white;
  @include media-breakpoint-up(sm){
    background-color: $body-bg;
  }
}

@import 'navsection';
@import 'mainsection';
